<div class="parcours">
  <h2>Mon Parcours</h2>

  <div class="etudes">
    <h3>Études Universitaires</h3>
    <ul>
      <li><strong>SEPT-DEC 2024:</strong> ERASMUS + - Universitet i Oslo</li>
      <li><strong>2023 - 2025:</strong> Licence 2ème et 3ème année Physique Chimie option chimie, Université Savoie Mont Blanc</li>
      <li><strong>2021 - 2022:</strong> Licence 1ère année Physique Chimie, Université Toulon</li>
    </ul>
  </div>

  <div class="etudes">
    <h3>Expérience Professionnelle</h3>
    <ul>
      <li><strong>JUIN 2023:</strong> Aide à la personne / Aide ménagère en Contrat à Durée Déterminée, Cap Corse
        <ul>
          <li>Accompagnement des personnes durant leurs tâches ménagères</li>
          <li>Assistance sur les tâches quotidiennes</li>
          <li>Commande et réception des courses</li>
        </ul>
      </li>
      <li><strong>NOV 2022 - JANV 2023:</strong> Employée polyvalente en Contrat à Durée Déterminée, Utile Corte
        <ul>
          <li>Gestion de la caisse</li>
          <li>Mise en rayon</li>
          <li>Réception et réalisation des commandes</li>
          <li>Réception des livraisons</li>
        </ul>
      </li>
      <li><strong>FEV 2021:</strong> Animatrice en Contrat d'engagement éducatif, ALSH Ribambelle
        <ul>
          <li>Animation</li>
          <li>Restauration</li>
          <li>Entretien des locaux</li>
          <li>Accueil des familles et des enfants</li>
          <li>Participation aux réunions</li>
        </ul>
      </li>
      <li><strong>AOUT - OCT - DEC 2020:</strong> Animatrice bénévole, ALSH Ribambelle
        <ul>
          <li>Animation</li>
          <li>Restauration</li>
          <li>Entretien des locaux</li>
          <li>Accueil des familles et des enfants</li>
          <li>Réception d'appels téléphoniques</li>
        </ul>
      </li>
    </ul>
  </div>
</div>
