<div class="parcours">
    <h2>Mon Parcours Scolaire</h2>
    
    <div class="etudes">
      <h3>Études Universitaires</h3>
      <ul>
        <li><strong>2021 - 2022:</strong> Licence 1 physique chimie, Université Toulon</li>
        <li><strong>2023 - 2024:</strong> licence 2 physique chimie parcours chimie, Universite bourget-du-lac</li>
        <li><strong>2023 - 2024:</strong> licence 3 physique chimie parcours chimie, Universite bourget-du-lac( premier semestre : erasmus norvege a universite de oslo )</li>

      </ul>
    </div>

    
  </div>
  